#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.appgrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

.appGridClose {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.displayNone {
  display: none;
  visibility: hidden;
}

.highlights {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.sidebar {
  left: 0px;
  transition: 0.3s ease-in-out;
}
.sidebarToggle {
  left: -999px;
  transition: 0.3s ease-in-out;
}

.displayNone {
  display: none;
  visibility: hidden;
}

.cross {
  display: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 980px) {
  .appgrid {
    grid-template-columns: 1fr;
  }
  .sidebar {
    left: -999px;
    transition: 0.3s ease-in-out;
  }
  .none {
    display: none;
    visibility: hidden;
  }
  .open {
    display: flex;
    visibility: visible;
  }
  .sidebarToggle {
    left: 0px;
    transition: 0.3s ease-in-out;
  }

  .cross {
    display: inline-block;
  }
}
